{% extends 'base.html' %}

{% block title %}
    Main Page

{% endblock title %}

{% block content %}
{% comment %} backgroundColor: '#' + Math.floor(Math.random()*16777215).toString(16) {% endcomment %}
<form action="" method="post" class="ui form" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form }}
     <button type="submit" class="ui button primary">Confirm</button>
</form>
 {% comment %} <div>
  {% for crop in crops %}
  {% if crop.product_variety is "Horticulture" %}
    <p>{{crop.product_variety}}</p>
    <p>{{crop.commodity_type}}</p>
    {% else %}
    <p>Not Horticulture</p>
    {% endif %}
  {% endfor %}
  </div> {% endcomment %}

{% comment %} <div>
 <canvas id="myChart" width="300", height="3000"></canvas>
</div> {% endcomment %}
    <div class="row justify-content-center mb-4">
        {% for item in latest %}
        <div class="col-md-3 col-sm-6 col-xs-6" id="">
          <a href="" class="card inner">
            {% comment %} <img src="" class="card-img-top" alt="{{ item.title }}"> {% endcomment %}
            <h3>{{ item.commodity }}</h3>
            {% for var in item.product_variety.all %}
                <h3>{{ var.variety }}</h3>
            {% endfor %}
            <h3>{{ item.unit }}</h3>
            <h3>{{ item.volume_in_kgs }}</h3>
            <h3>{{ item.values_in_ksh }}</h3>
            <h3>{{ item.date }}</h3>
          </a>
        </div>
        {% endfor %}
    </div>

 <div class="row justify-content-center mb-4">
        {% for var in all_varieties %}
            <div class="col-md-3 col-sm-6 col-xs-12 col-xs-6">
        <div class="imageBox card" id="Categories">
        <img src="" class="img-fluid card-img-top" alt="{{ var.variety }}">
        <a  href="" class="card-body"><h3>{{ var }}</h3> </a>
        </div>     
        </div>
        {% endfor %}
            
       
       
</div>



{% endblock content %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        let myChart = document.getElementById('myChart').getContext('2d');
        let massPopChart = new Chart(myChart, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
            labels:[{% for crop in crops %}'{{crop.commodity_type}}', {% endfor %}],
            datasets:[{
                label:'Values_in_KSH',
                data:[{% for crop in crops %}'{{crop.values_in_ksh}}', {% endfor %}],
                backgroundColor: '#' + Math.floor(Math.random()*16777215).toString(16) 
            }]
            },
            options:{
                title: {
                    display: true,
                    text: 'Crops Analysis'
                }
            }
        });



    });

    </script>

{% endblock scripts %}