{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Main Page

{% endblock title %}

{% block content %}
{% comment %} backgroundColor: '#' + Math.floor(Math.random()*16777215).toString(16) {% endcomment %}
<form action="" method="post" class="ui form" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form|crispy }}
     
     <button type="submit" class="ui button primary">Confirm</button>
</form>
 
<div class="container">
        <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Commodity Type </th>
                            <th scope="col">Product Variety</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Volume in Kgs</th>
                            <th scope="col">Values in Ksh</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in latest %}
                        <tr>
                            <td>{{ item.commodity }}</td>
                            {% for var in item.product_variety.all %}
                            <td>{{ var.variety }}</td>
                            {% endfor %}
                            <td>{{ item.unit }}</td>
                            
                            <td>{{ item.volume_in_kgs }}</td>
                            <td>{{ item.values_in_ksh }}</td>
                            <td>{{ item.date }}</td>
                            
                        </tr>
                        {% endfor %}
                       
                        
                    </tbody>
                </table> 
            </div>
            <div class="col-md-1">
            </div>
        </div>

           
    </div>



    
 <div class="row justify-content-center mb-4">
        {% for var in all_varieties %}
            <div class="col-md-3 col-sm-6 col-xs-12 col-xs-6">
        <div class="imageBox card" id="Categories">
        <img src="" class="img-fluid card-img-top" alt="{{ var.variety }}">
        <a  href="{{ var.get_variety_absolute_url }}" class="card-body"><h3>{{ var }}</h3> </a>
        </div>     
        </div>
        {% endfor %}
            
       
       
</div>



{% endblock content %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        let myChart = document.getElementById('myChart').getContext('2d');
        let massPopChart = new Chart(myChart, {
            type: 'horizontalBar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
            labels:[{% for crop in crops %}'{{crop.commodity_type}}', {% endfor %}],
            datasets:[{
                label:'Values_in_KSH',
                data:[{% for crop in crops %}'{{crop.values_in_ksh}}', {% endfor %}],
                backgroundColor: '#' + Math.floor(Math.random()*16777215).toString(16) 
            }]
            },
            options:{
                title: {
                    display: true,
                    text: 'Crops Analysis'
                }
            }
        });



    });

    </script>

{% endblock scripts %}