{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Main Page

{% endblock title %}

{% block content %}
<head>
  

</head>
<body>

<div class="container">
        <div class="row my-4">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-info text-white">
                       Upload CSV File here
                    </div>
                    <div class="card-body">
                        <div class="border bg-white p-3">
                            <h4>Add csv</h4>
                            <hr>
                            <form method="POST", enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class="btn btn-success btn-block" type="submit" value="Add CSV">
                            </form>
                    </div>

                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

           
    </div>
</body>
{% endblock content %}

{% comment %} backgroundColor: '#' + Math.floor(Math.random()*16777215).toString(16) {% endcomment %}