{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div>
            <h5>{{ one_variety.variety }}</h5>
        </div>
        <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">ID</th>
                            <th scope="col">Commodity Type</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Volume in Kgs</th>
                            <th scope="col">Values in Ksh</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for var in queryset %}
                        <tr>
                            <td>{{ var.id }}</td>
                            <td>{{ var.commodity }}</td>
                            
                            <td>{{ var.unit }}</td>
                            
                            <td>{{ var.volume_in_kgs }}</td>
                            <td>{{ var.values_in_ksh }}</td>
                            <td>{{ var.date }}</td>
                            
                        </tr>
                        {% endfor %}
                       
                        
                    </tbody>
                </table> 
            </div>
            <div class="col-md-1">
            </div>
        </div>

           
    </div>

 
                                  
                            
                                
                                
                       
                    
              

    {% endblock content %}